html,
body {
  height: 100%;
  background-image: url(/assets/image/blood.background.jpg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(255, 255, 255, 1);
}

.c-light {
  color: rgba(255, 255, 255, 1);
}

.styless-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  align-items: stretch;
}

.ta-center {
  text-align: center;
}

.transparent-header {
  &::after {
    content: none !important;
  }
  ion-toolbar {
    --background: url(/assets/image/blood.background.jpg) cover !important;
    --color: rgba(255, 255, 255, 1) !important;
  }
}

.transparent-content {
  --background: url(/assets/image/blood.background.jpg) cover !important;
}

.header-back-button {
  ion-title {
    width: calc(100% - 3.125rem);
  }
}

.transparent-tab-bar {
  --background: url(/assets/image/blood.background.jpg) 100% 100% !important;
  --border: none;
  // filter: drop-shadow(2px 4px 6px rgb(43, 15, 15));
  ion-tab-button {
    --color-selected: rgba(255, 255, 255, 1) !important;
  }
}
