<app-search placeholder="Search your cards and sets..."></app-search>
<ion-tabs>
  <ion-header></ion-header>
  <ion-tab-bar slot="bottom" class="transparent-tab-bar">
    <ion-tab-button tab="principal">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="deck">
      <ion-icon name="file-tray-stacked"></ion-icon>
      <ion-label>Decks</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="card">
      <ion-icon name="albums"></ion-icon>
      <ion-label>Cards</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
