<ion-content>
  <ion-grid class="deck">
    <ion-row>
      <ion-col>
        <h3>Hearthstone</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="deck__item">
        <ion-img src="assets/image/sets/hall-of-fame.png"></ion-img>
      </ion-col>
      <ion-col class="deck__item">
        <ion-img src="assets/image/sets/hall-of-fame.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="deck__item">
        <ion-img src="assets/image/sets/hall-of-fame.png"></ion-img>
      </ion-col>
      <ion-col class="deck__item">
        <ion-img src="assets/image/sets/hall-of-fame.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="deck__item">
        <ion-img src="assets/image/sets/hall-of-fame.png"></ion-img>
      </ion-col>
      <ion-col class="deck__item">
        <ion-img src="assets/image/sets/hall-of-fame.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="set">
    <div>
      <h3>Set de Cartas</h3>
    </div>
    <div class="set__list">
      <div class="set__slides">
        <div class="set__item">
          <img src="assets/image/sets/hall-of-fame.png" />
        </div>
        <div class="set__item">
          <img src="assets/image/sets/hall-of-fame.png" />
        </div>
        <div class="set__item">
          <img src="assets/image/sets/hall-of-fame.png" />
        </div>
        <div class="set__item">
          <img src="assets/image/sets/hall-of-fame.png" />
        </div>
        <div class="set__item">
          <img src="assets/image/sets/hall-of-fame.png" />
        </div>
      </div>
    </div>
  </div>
</ion-content>
