.card {
  position: relative;
  margin: 1rem 3.2rem;
  padding: 1rem;
  background-size: 100% 100%;
  background-position: center;
  height: 15rem;
  user-select: none;
  background-color: transparent;
  transition: background-color 300ms;
  filter: saturate(0.7);

  &:hover,
  &:focus-visible,
  &:focus-within {
    filter: saturate(1);
  }
}

.with-background {
  margin: 1rem;
  left: 0.8rem;
}

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &__title {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
  }

  &__text {
    font-size: 500;
    color: rgba(130, 0, 133, 1);
  }
}
